@import '../../assets/variables';

.Auth {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-grow: 1;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 35%;
    height: 70%;
    padding: 2rem 0;
    background-color: $purple;
    border-radius: 35px;

    .img {
      width: 160px;
      height: 150px;
      background: url('../../assets/svg/bear-face.svg') center center no-repeat;
      background-size: cover;
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border-radius: 25px;
      border: 2px solid $white;
      color: $white;
      font-weight: bold;
      outline: none;
      width: 8rem;
      height: 2.7rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .Auth {
    .wrapper {
      gap: 8rem;
      background-color: transparent;
      width: 100%;
      height: 100%;
      .img {
        width: 160px;
        height: 150px;
        background: url('../../assets/images/bearFace.png') center center
          no-repeat;
        background-size: cover;
      }
      .button {
        border-color: $purple;
        color: $purple;
        background-color: transparent;
      }
    }
  }
}
