@import '../../assets/variables';

.DatePicker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  height: 3rem;
  background-color: $gray;
  color: $darkgray;

  .dateWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: auto;
    height: 100%;

    .dateInput {
      background-color: $white;
      width: 8rem;
      height: 2rem;
      padding: 0.5rem;
      border-radius: 10px;
      outline: none;
      border: 2px solid rgb(197, 197, 197);
    }
  }
}

@media screen and (max-width: 700px) {
  .DatePicker {
    gap: 0.5rem;
    .dateWrapper {
      gap: 0.5rem;
      label {
        font-size: 0.8rem;
      }
      .dateInput {
        width: 5rem;
        font-size: 0.6rem;
        padding: 0.1rem 0.1rem;
      }
    }
  }
}
